@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Fira+Mono&display=swap');
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
#menu{
list-style-type: none;
padding: 0;
background-color: #000000;
}
#menu li{
display: inline;
color: #F4F4F2;
padding-left: 100px;
background: #000000;
font-family: 'Fira Mono', monospace;
}
#menu li a{
color: #F4F4F2;
padding: 30px;
padding-left: 65px;
padding-right: 65px;
text-decoration: none;
display: inline-block;
background: #000000;
}
#menu li a:hover{
background-color:#495464;
}
#titulo{
    padding-top: 15px;
    padding-left: 35px;
    font-family: 'Cairo', sans-serif 'Fira Mono', monospace;
}
.img1{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
    width: 990px;
    height: auto;
    border: 8px solid #000000
}
.texto1{
    padding-top: 15px;
    text-align: center;
    font-family: 'Cairo', sans-serif
}
#lk1{
    color:#1E90FF;
}
.img2{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
    width: 990px;
    height: auto;
    border: 8px solid #000000
}
.texto2{
    padding-top: 15px;
    text-align: center;
    font-family: 'Cairo', sans-serif
}
#lk2{
    color:#1E90FF;
}
.img3{
    display: block;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
    width: 990px;
    height: auto;
    border: 8px solid #000000
}
.texto3{
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Cairo', sans-serif
}
#lk3{
    color:#1E90FF;
}
#rd1{
    display: block;
    margin-top: 40px;
    margin-left: 300px;
    margin-right: auto;
    max-width: auto;
    max-height: auto;
    width: 120px;
    height: auto; 
}
footer{
    color: #F4F4F2;
    position:relative;
    bottom: 0;
    background-color: #000000;
    height: 100px;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
    display: inline-block;
}